{% extends 'index/index.html' %}
{% load widget_tweaks %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9 col-sm-12">

            </div>
            <div class="col-md-3 col-sm-12">
                <form action="{% url 'hoops:update_practice' practice.pk %}" method="post" class="form-inline ml-3">
                    {% csrf_token %}
                    {% for field in practice_form %}
                        <div class="form-group">
                        {{ field.label_tag }}
                        {{ field|add_class:'form-control ml-2' }}
                        {% for e in field.errors %}
                            <div class="text-danger">{{ e }}</div>
                        {% endfor %}
                    {% endfor %}
                    </div>
                    <button type="submit" class="btn btn-sm btn-primary ml-2">Submit</button>
                </form>
                {% for a in attempts %}
                    <div class="col-12">
                        <div class="card mt-4">
                            <div class="card-body mt-n2 mb-n2">
                                <div class="row">
                                    <div class="col-11">
                                        <span class="h5">{{ forloop.counter }}: </span><span><b>{{ a.attempts_successful }}/{{ a.attempts }}</b></span>
                                    </div>
                                    <div class="col-1">
                                        <a class="fa fa-arrow-right" href="{% url 'hoops:edit_attempt' a.id %}"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}