{% extends 'index/index.html' %}
{% load widget_tweaks %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 col-sm-12">
                <div id="attempts-chart" class="mt-4"></div>
            </div>
        <div class="col-1"></div>
            <div class="col-md-3 col-sm-12">
                <form action="{% url 'hoops:update_practice' practice.pk %}" method="post" class="form-inline ml-3">
                    {% csrf_token %}
                    {% for field in practice_form %}
                        <div class="form-group">
                        {{ field.label_tag }}
                        {{ field|add_class:'form-control ml-2' }}
                        {% for e in field.errors %}
                            <div class="text-danger">{{ e }}</div>
                        {% endfor %}
                    {% endfor %}
                    </div>
                    <button type="submit" class="btn btn-sm btn-primary ml-2">Submit</button>
                </form>
                {% for a in attempts %}
                    <div class="col-12">
                        <div class="card mt-4">
                            <div class="card-body mt-n2 mb-n2">
                                <div class="row">
                                    <div class="col-10">
                                        <span class="h5">{{ forloop.counter }}: </span><span><b>{{ a.attempts_successful }}/{{ a.attempts }}</b></span>
                                    </div>
                                    <div class="col-1">
                                        <a class="fa fa-times" href="{% url 'hoops:delete_attempt' a.id %}"></a>
                                    </div>
                                    <div class="col-1">
                                        <a class="fa fa-arrow-right" href="{% url 'hoops:edit_attempt' a.id %}"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <script>
        const data = {{ js_data|safe }};
        let made = data['data']
        let labels = data['labels']

        var config = {
            chart: {
                type: 'bar',
                height: 300
            },
            series: [{
                name: 'Attempts made',
                data: made
            }],
            plotOptions: {
                bar: {
                    dataLabels: {
                        position: 'top', // top, center, bottom
                    },
                }
            },
            bar: {
                horizontal: false
            },
            dataLabels: {
                enabled: true,
            },
            xaxis: {
                categories: labels,
                position: 'top',
                axisBorder: {
                    show: false
                },
                axisTicks: {
                    show: false
                },
                tooltip: {
                    enabled: true
                }
            },
            yaxis: {
                max: (max) => {return max + (10 - (Math.max.apply(Math, made) % 10))},
                axisBorder: {
                    show: false
                },
                axisTicks: {
                    show: false,
                },
            },
            title: {
                text: 'Makes per attempt',
                floating: true,
                align: 'center',
                style: {
                    color: '#444'
                }
            },
            grid: {
                padding: {
                    top: 20
                }
            },
        }

        window.onload = () => {
            let ctx = document.getElementById('attempts-chart')
            let chart = new ApexCharts(ctx, config)
            chart.render()
        }
    </script>
{% endblock %}