<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hoops</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://use.fontawesome.com/ac17b76582.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light mb-3" style="background-color: #e3f2fd">
    <a class="navbar-brand" href="/">Hoops</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/stats">Stats<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/practice">Practice</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            {% if user.is_authenticated %}
                <li class="nav-item active mx-right">
                    <span class="nav-link">{{ user.username }}</span>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            {% else %}
                <li class="nav-item active">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/register">Register</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
{% block content %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'hoops/index.css' %}">
    <div class="container">
        {% for stat in stats %}
            <div class="card mb-2">
                <div class="card-body mb-n4">
                    <div class="row">
                        <div class="col-2">
                            <h5 class="title">{{ stat.practice.date }}</h5>
                        </div>
                        <div class="col-9"></div>
                        <div class="col-1">
                            <a class="fa fa-arrow-right" href="{% url 'hoops:practice_detail' stat.practice.id %}"></a>
                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="col-2">
                            <p class="small"><b>{{ stat.basic_stats.total_made }}
                                / {{ stat.basic_stats.total_shots }}</b></p>
                        </div>
                        <div class="col-8 text-center">
                            {% if stat.weather %}
                                <span class="small mr-2 weather"><b>{{ stat.weather.temperature }}°C</b></span>
                                <span class="small mr-2 weather"><b>{{ stat.weather.conditions }}</b></span>
                                <span class="small mr-2 weather"><b>Wind: {{ stat.weather.wind_speed }} m/s</b></span>
                                <span class="small mr-2 weather"><b>Humidity: {{ stat.weather.humidity }}%</b></span>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
</body>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
</html>