{% extends 'index/index.html' %}
{% load mathfilters %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <table class="table table-hover">
                    <thead>
                    <th>Practice date</th>
                    <th>Shots made</th>
                    <th>Shots attempted</th>
                    <th>%</th>
                    <th></th>
                    </thead>
                    <tbody>
                    {% for s in stats %}
                        <tr>
                            <td>{{ s.practice.date }}</td>
                            <td>{{ s.total_made }}</td>
                            <td>{{ s.total_shots }}</td>
                            <td>{{ s.total_made|div:s.total_shots|mul:100 }} %</td>
                            <td><a href="{% url 'hoops:practice_detail' s.practice.id %}">Edit</a>
                                <a class="fa fa-times ml-2" aria-hidden="true"
                                   href="{% url 'hoops:delete_practice' s.practice.id %}" style="color: black"></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-6">
                <div id="basic_chart" class="pb-4 mb-4"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-6"></div>
            <div class="col-6">
                <div id="percent-chart">
                </div>
            </div>
        </div>
    </div>>
    <script>

        made = []

        for (const d of {{ data|safe }}) {
            made.push(d['y'])
        }

        const config = {
            chart: {
                type: 'line',
                height: 300
            },
            grid: {
                padding: {
                    bottom: 10
                }
            },
            stroke: {
                curve: 'straight'
            },
            series: [
                {
                    name: 'Linear',
                    data: {{ data|safe }}
                },
                {
                    name: 'Logarithmic',
                    data: {{ data|safe }}
                }],
            xaxis: {
                type: 'datetime'
            },
            toolbar: {
                show: false
            },
            legend: {
                position: 'bottom',
                verticalAlign: 'left',
                floating: false,
            },
            title: {
                text: 'Shots made over time',
                align: 'left'
            },
            dataLabels: {
                enabled: true,
            },
            yaxis: [
                {
                    min: 1,
                    max: Math.max.apply(Math, made),
                    seriesName: 'Linear',
                    opposite: true
                },
                {
                    min: 1,
                    max: Math.max.apply(Math, made),
                    seriesName: 'Logarithmic',
                    logarithmic: true
                }
            ],
        }


        var percent_chart_config = {
            chart: {
                type: 'line',
                height: 300
            },
            colors: ['#000000', '#9E0202'],
            grid: {
                padding: {
                    bottom: 10
                }
            },
            stroke: {
                curve: 'straight'
            },
            series: [
                {
                    name: 'Linear',
                    data: {{ p_data|safe }}
                },
                {
                    name: 'Logarithmic',
                    data: {{ p_data|safe }}
                }],
            xaxis: {
                type: 'datetime'
            },
            toolbar: {
                show: false
            },
            legend: {
                position: 'bottom',
                verticalAlign: 'left',
                floating: false,
            },
            title: {
                text: '% of shots made over time',
                align: 'left'
            },
            dataLabels: {
                enabled: true,
                formatter: (val, opts) => val + '%'
            },
            yaxis: [
                {
                    min: 1,
                    max: 100,
                    seriesName: 'Linear',
                    opposite: true
                },
                {
                    min: 1,
                    max: 100,
                    seriesName: 'Logarithmic',
                    logarithmic: true
                }
            ],
        }

        window.onload = () => {
            console.log(percent_chart_config.series)
            const ctx = document.getElementById('basic_chart');
            const basic_chart = new ApexCharts(ctx, config)
            const p_ctx = document.getElementById('percent-chart')
            const p_chart = new ApexCharts(p_ctx, percent_chart_config)
            basic_chart.render()
            p_chart.render()
        }

    </script>
{% endblock %}