{% extends 'index/index.html' %}
{% load mathfilters %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <table class="table table-hover">
                    <thead>
                    <th>Practice date</th>
                    <th>Shots made</th>
                    <th>Shots attempted</th>
                    <th>%</th>
                    <th></th>
                    </thead>
                    <tbody>
                    {% for s in stats %}
                        <tr>
                            <td>{{ s.practice.date }}</td>
                            <td>{{ s.total_made }}</td>
                            <td>{{ s.total_shots }}</td>
                            <td>{{ s.total_made|div:s.total_shots|mul:100 }} %</td>
                            <td><a href="{% url 'hoops:practice_detail' s.practice.id %}">Edit</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-6">
                <div id="basic_chart"></div>
            </div>
        </div>
    </div>>
    <script>
        var config = {
            chart: {
                type: 'line',
                width: 700,
                height: 300
            },
            series: [{
                data: {{ data|safe }}
            }],
            xaxis: {
                type: 'datetime'
            },
            toolbar: {
                show: false
            },
            legend: {
                position: 'top',
                horizontalAlign: 'left',
                floating: true,
                offsetY: -25,
                offsetX: -5
            },
            title: {
                text: 'Shots made over time',
                align: 'left'
            },
            dataLabels: {
                enabled: true,
            },
        }

        window.onload = () => {
            console.log(config.series)
            const ctx = document.getElementById('basic_chart');
            var basic_chart = new ApexCharts(ctx, config)
            basic_chart.render()
        }

    </script>
{% endblock %}